extends layout

block content
    .contenedorBotones.mb-3#botones
        case turno.id_estado_turno
            when 2 
                h3 Reservado
                unless turno.sobreturno
                    button#btnSobreturno.btn.sobreturno(type="button" onclick="mostrarFormularioSobreTurno()") SobreTurno
                form(action=`/turno/updateEstado/${turno.id_turno}` method="POST")
                    button#btnConfirmar.btn.confirmado(type="submit" name="accion" value="confirmar") Confirmar
                    button#btnCancelar.btn.cancelado(type="submit" name="accion" value="cancelar") Cancelar
            when 3
                h3 Confirmado
                form(action=`/turno/updateEstado/${turno.id_turno}` method="POST")
                    button#btnCancelar.btn.cancelado(type="submit" name="accion" value="cancelar") Cancelar
                    button#btnPresente.btn.presente(type="submit" name="accion" value="presente") Presente
                    button#btnAusente.btn.ausente(type="submit" name="accion" value="ausente") Ausente
            when 4
                h3 Cancelado
            when 5
                h3 Ausente
            when 6
                h3 Presente
                form(action=`/turno/updateEstado/${turno.id_turno}` method="POST")
                    button#btnEnConsulta.btn.en-consulta(type="submit" name="accion" value="en-consulta") En Consulta
            when 7
                h3 En consulta
                form(action=`/turno/updateEstado/${turno.id_turno}` method="POST")
                    button#btnAtendido.btn.atendido(type="submit" name="accion" value="atendido") Atendido
            when 8
                h3 Atendido
            default 
                h3 Libre
                .contenedorForm#formularioTurno
                    form.allforms.m-3(action="/turno/tomar" method="POST" class="needs-validation")
                        .mb-3
                            label(for="motivo" class="form-label") Motivo
                            textarea#motivo.form-control(name="motivo" placeholder="Ingrese el motivo" rows="3" required)
                            .invalid-feedback El motivo es obligatorio.
                        .mb-3
                            label(for="paciente" class="form-label") Seleccionar Paciente
                            input#paciente.form-select(list="pacientes" name="dniPaciente" required)
                            .invalid-feedback El paciente es obligatorio
                            datalist#pacientes
                                each paciente in pacientes
                                    option(value=paciente.dni) #{paciente.nombre} #{paciente.apellido}
                            .invalid-feedback Es obligatorio seleccionar un paciente.
                        input#id_turno(name="id_turno" type="hidden" value="")
                        input#estado_turno(type="hidden" name="estado_turno" value="")
                        button.btn.btn-primary(type="submit") Guardar

    


    .contenedorForm.d-none#formularioSobreTurno
        form.allforms.m-3(action="/turno/tomarsobreturno" method="POST" class="needs-validation")
            .mb-3
                label(for="motivo" class="form-label") Motivo
                textarea#motivo.form-control(name="motivo" placeholder="Ingrese el motivo" rows="3" required)
                .invalid-feedback El motivo es obligatorio.
            .mb-3
                label(for="paciente" class="form-label") Seleccionar Paciente
                input#paciente.form-select(list="pacientes" name="dniPaciente" required)
                .invalid-feedback El paciente es obligatorio
                datalist#pacientes
                    each paciente in pacientes
                        option(value=paciente.dni) #{paciente.nombre} #{paciente.apellido}
                .invalid-feedback Es obligatorio seleccionar un paciente.
            input#id_turno(name="id_turno" type="hidden" value="")
            input#estado_turno(type="hidden" name="estado_turno" value="")
            button.btn.btn-primary(type="submit") Guardar

    script(src="/validaciones.js")